books/
*.m4a
*.mp3
*.m4v
*.mp4
saida.txt
saida1.txt
saida2.txt
textos/
gabideca/
.idea/
.vscode/
cmake-build-debug/
tmp/
temp/

# From https://github.com/github/gitignore/blob/main/R.gitignore
# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
.RDataTmp

# RStudio files
.Rproj.user/

# From https://github.com/github/gitignore/blob/main/R.gitignore
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
